PROJECT_NAME=projet_13_rag_events_mvp
ENVIRONMENT=development
DEBUG=True

API_HOST=0.0.0.0
API_PORT=8000

MISTRAL_API_KEY=your_mistral_api_key_here
MISTRAL_MODEL=mistral-small-latest

EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

VECTOR_DB_TYPE=faiss
VECTOR_DB_PATH=vector_store/faiss.index

LOG_LEVEL=INFO

AWS_REGION=eu-west-3

ENABLE_MONITORING=True